#card{
	background: url(images/poker.png) no-repeat;
	width: 73px;
	height: 97px;
	display: inline-block;
	margin: 20px 0;
}

.hold{
	background: url("images/hold.jpg") !important;
	background-size: 73px !important;
}